/* index.css */

body {
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    width: 100%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    width: 100%;
    align-items: center;
    background-color: #4CAF50;
    padding-inline: 10%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 999;
    top: 0;
}

nav.shadow{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo a {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
}


.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    position: relative;
    justify-content: space-between;
    width: 45%;
    letter-spacing: 1px;
}

.menu > li {
    position: relative;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.menu > li:hover {
    color: #ffeb3b;
}

.menu > li:hover .dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #4CAF50;
    list-style: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
    min-width: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 5px 5px;
    z-index: 10;
}

a{
    text-decoration: none;
    color: #fff;

}

.dropdown > li {
    padding: 10px;
    color: #fff;
    transition: background-color 0.3s ease;
}

.dropdown > li:hover {
    background-color: #45a049;
}

.btn-nav {
    background: linear-gradient(45deg, #ffeb3b, #ffc107);
    color: #4CAF50;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-nav:hover {
    background: linear-gradient(45deg, #ffc107, #ffeb3b);
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

/*content*/
.content {
    padding-top: 12vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: auto;
    width: 100%;
}

/*corusel*/
.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 500px;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
    opacity: 1;
}

.carousel img {
    max-width: 75%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 20%;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* payment */

.payment{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    width: 100%;
    height: auto;
    padding-block: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    color: #333;
    justify-content: space-evenly;
    align-items: center;
    width: 230px;
    height: 330px;
    border-radius: 10px;
    background-color: #f8f8f8;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}

/* .card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} */

.card-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    background-color: #AACC05;
}

.card-image img{
    color: #fff;
    max-width: 60%;
    max-height: 60%;
}

.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: 550;
}

.card-image:hover{
    background-color: #c7ed09;
}
.card:hover{
    background-color: #AACC05;
}

/*footer*/
  
  .footer {
    background-color: #F2F7F6;
    font-family: Arial, sans-serif;
    padding: 20px 0;
    margin-top: 40px;
  }
  
  .container-footer {
    width: 80%;
    margin: 0 auto;
  }
  
  .footer-sections {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .footer-section {
    width: auto;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
    border-bottom: 2px solid #c7ed09;
    display: inline-block;
    color: #4CAF50;
  }
  
  .footer-section p,
  .footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .social-media {
    display: flex;
  }
  
  .social-media li {
    margin-right: 10px;
  }
  
  .social-media a {
    color: #c7ed09;
    text-decoration: none;
  }
  
  .social-media a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 10px;
  }

  .footer-section img{
    max-height: 80px;
    max-width: 80px;
    border-radius: 50%;
  }
  



/* Responsive design */
/* @media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .dropdown {
        position: static;
    }

    button {
        margin-top: 10px;
    }
} */
